.form__save-button {
    width: calc(100% - 36px * 2);
    height: 50.15px;
    margin: 14px 36px 36.51px;
    background-color: #000;
    color: white;
    border-radius: 2px;
    transition: opacity .2s linear .05s;
    cursor: pointer;
}

.form__save-button:hover {
    opacity: .8;
}