.popup__container {
    position: relative;
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .popup__container {
        width: 300px;
    }
}

@media screen and (max-width: 350px) {
    .popup__container {
        width: 270px;
    }
}