.popup__close-button {
    width: 40.7px;
    height: 40.7px;
    background-color: #000000;
    border: none;
    position:absolute;
    top: -30px;
    right: -30px;
    padding: 0;
    z-index: -1;
    transition: opacity .2s linear .05s;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .6;
}