@import url('./__copyright/footer__copyright.css');

.footer {
    width: 318px;
    height: 18px;
    margin-left: 199px;
    margin-bottom: 60px;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .footer {
        margin-left: 150px;
    }
}

@media screen and (max-width: 1045px) {
    .footer {
        margin-left: 100px;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        margin-left: 80px;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        margin-left: 50px;
    }
}

@media screen and (max-width: 840px) {
    .footer {
        margin-left: 94px;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        width: 282px;
        height: 14px;
        margin: 0 auto 36px;
    }
}